<div class="row mt-4">
  <div class="col-md-6">
    <h2>{{animal.common_name}}</h2>
    <h3>Edit Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-state">State:</label>
        <input class="form-input" type="text" id="post-state" name="post-state" value="{{state}}" />
      </div>
       <div class="form-group">
        <label for="post-city">City:</label>
        <input class="form-input" type="text" id="post-city" name="post-city" value=" {{city}}" />
      </div>
       <div class="form-group">
        <label for="post-location">Address:</label>
        <input class="form-input" type="text" id="post-address" name="post-adress" value="{{address}}" />
      </div>
      <div class="form-group">
        <label for="post-danger" class="checkbox"><input class="form-input" type="checkbox" id="post-danger-update" name="post-danger" />Dangerous</label>
      </div>
       <div class="form-group">
        <label for="post-missing" class="checkbox"><input class="form-input" type="checkbox" id="post-missing-update" name="post-missing" />Missing Pet</label>
      </div>
       <div class="form-group">
      </div>
      <div class="form-group">
        <label for="post-desc">Text:</label>
        <textarea class="form-input" id="post-desc" name="post-desc">{{text}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary update">Update</button>
        <a href = '/profile'> Back</a>
      </div>
    </form>
  </div>

  <script src= "/js/postUpdateLogic.js"></script>           