<div class="title has-text-centered">
  <h1 id=""  class ="is-size-1 has-text-warning has-text-weight-semibold "> Endandgered Animal Sightings </h1>
</div>

{{#each posts as |post| }}
{{#if animal.endangered}}
<div class="card my-4">
  <header id="logo-blue" class="card-header">
    <p class="card-header-title is-size-4 has-text-white">
      {{animal.common_name}}
    </p>
   
    
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div id="logo-grey" class="card-content">
    <div class="content">
      <h6>{{post.city}} {{post.state}}</h6>
   <h6>{{post.address}}</h6>
   {{#if animal.endangered}}
      <h6 class="has-text-warning">{{animal.endangered}}</h6>
      {{/if}}
   {{#if post.danger}}
   <h6 class="has-text-danger">DANGER</h6>
   {{/if}}
   {{#if post.missing}}
   <h6 class="has-text-success"> MISSING </h6>
   {{/if}}
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <footer class="card-footer">
    <a href="/post/{{post.id}}" class="card-footer-item">
    <button id="logo-brown" class="button is-info">See Post</button>
    </a>
  </footer>
  </div>
  {{/if}}
  {{/each}}