{{#each posts as |post| }}
{{#if post.danger}}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{animal.common_name}}
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      <h6>{{post.city}}</h6>
   <h6>{{post.state}}</h6>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <footer class="card-footer">
    <a href="/post/{{post.id}}" class="card-footer-item">See Post</a>
  </footer>
  </div>
  {{/if}}
  {{/each}}