<div class="card">
  <header id="logo-blue" class="card-header"> 
    <a href="{{animal.link}}" class=" card-header-title is-centered">
    <p class=" has-text-white is-size-2">
      {{animal.common_name}}
    </p>
  </a>


  </header>
  <div class="card-content">
    <div class="content">
      <h6>{{city}} {{state}}</h6>
      <h6>{{address}}</h6>
      {{#if animal.endangered}}
      <h6 class="has-text-warning">{{animal.endangered}}</h6>
      {{/if}}
      {{#if danger}}
      <h6 class="has-text-danger">DANGER</h6>
      {{/if}}
      {{#if missing}}
      <h6 class="has-text-success"> MISSING </h6>
      {{/if}}
      

      <p>Created by {{user.name}} on {{format_date date_created}}</p>
    </div>
    <footer class="card-footer">
      <p> {{text}} </p>
    </footer>
  </div>

  <div id="logo-grey">
    <h3 class="is-size-4 has-text-weight-strong  mt-4">COMMENTS:</h3>
  </div>

  {{#if comments.length}}

  <div class="col-md-6 comment-list">


    {{#each comments as |comment| }}
    <div id="logo-grey" class="card my-3">
      <div class="row mb-2 comment">
        <div id="logo-green" class="card-header-title ">
          <h2>

            <a href="/comment/{{comment.id}}"></a>
          </h2>

          <p>Created by {{user.name}} on {{format_date comment.date_created}}</p>
        </div>
        <div class="card-content">
          <p>
            {{comment.text}}
          </p>
        </div>

      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  {{#if logged_in}}
  <div class="text-center">
    <div class="card has-text-centered my-3">
      <h5 class="is-size-4">New Comment:</h5>

      <form class="form new-comment-form">

        <div class="form-group">

          <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
        </div>
        <div class="form-group">
          <button id="logo-green" type="submit" class="button is-primary my-2">Post Comment</button>
        </div>
      </form>
    </div>
  </div>
  {{/if}}
  <script src="/js/commentLogic.js"></script>