<div class="row">
  <div class="title has-text-centered  ">
    <h2 class=" has-text-weight-medium">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6 is-centered">
    <div class="buttons is-centered">
    <a href="/profile/chooseAnimal">
    <button id="logo-green" class="button is-primary has-text-weight-semibold">
    Create a New Post
    </button>
    </a>
     </div>



    {{#if posts.length}}
    <div class="col-md-6 post-list">
      <h3 class="is-size-3 has-text-weight-medium">Your Posts:</h3>

      {{#each posts as |post|}}
      <div class="card my-2">
  <header id="logo-blue" class="card-header">
    <p class="card-header-title is-size-4 has-text-white">
      {{animal.common_name}}
    </p>
   
    
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div id="logo-grey" class="card-content">
    <div class="content">
      <h6>{{post.city}} {{post.state}}</h6>
   <h6>{{post.address}}</h6>
   {{#if post.danger}}
   <h6 class="has-text-danger">DANGER</h6>
   {{/if}}
   {{#if post.missing}}
   <h6 class="has-text-success"> MISSING </h6>
   {{/if}}
    <p>Created on {{format_date post.date_created}}</p>
    </div>
    <footer class="card-footer">
      <div class="field is-grouped">
        
    <a href="/post/{{post.id}}" class="card-footer-item">
    <button id="logo-green" class="button is-info">See Post</button>
    </a>
   
    
          <a href="/profile/edit/{{post.id}}" class="card-footer-item">
          <button id="logo-blue" class="button is-success">
            Update
            </button>
          </a>
        
          <a class="card-footer-item">
         
          <button id="logo-brown" class="button is-danger"  data-id="{{post.id}}">Delete</button>
          </a>
    </div>
  </footer>
  </div>
  
       
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <script src="./js/profile.js"></script>