
{{#each animals as |animal| }}
    <div class="row mb-2">
      <div class="col-md-2">
       
        <a href = 
        '/profile/newPost/{{this.id}}'>
        <button class="animal_choice" id='{{animal.id}}' onCLick="getID({{this.id}})">{{animal.common_name}}   Scientific Name:  {{animal.scientific_name}} 
      </div>
      

    </div>
    {{/each}}
  </div>




<a href= "/profile/chooseAnimal">Back</a>


<script src="/js/createPost.js"></script>